/*--------------cards--------------------*/

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.cards-container {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 400px #39bad8;
    margin-top: 15px;
    background-color: #39bad8;
}

    .cards-container h1 {
        text-align: center;
        font-size: 4rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        padding: 2rem;
        box-shadow: 0 0 15px white;
        border-radius: 15px;
        color: white;
    }

    .cards-container h2 {
        color: white;
        font-size: 2.5rem;
        padding: 3rem;
        text-align: center;
        text-shadow: 0 0 25px white;
    }

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.card_btn {
    color: white;
    padding: 0.8rem;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 18px;
    font-weight: 400;
    display: inline-block;
    width: 45%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #39bad8;
}

    .card_btn:hover {
        background-color: #259DB9;
        color: black;
    }


    .card_btn a {
        text-decoration: none;
        font-weight: bold;
        color: white;
    }

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: #39bad8;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background-color: #fff;
    justify-content: center;
    text-align: center;
}

.cards-container .card_title {
    color: black;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
    font-size: 18px;
}

.card_btn i {
    font-size: 22px;
}

/*---------------------------------*/
