.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0 0 500px #dfdede;
    color: black;
    padding: 15px;
    font-size: 24px;
}

footer a {
    text-decoration: none;
    color: black
}

.footer-siteInfo {
    display: flex;
    flex-direction: column;

}