.login-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #efefef;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: inset 0 0 500px #39bad8;
    box-shadow: 0 7px 7px rgba(54, 150, 173, 0.9);
}

    .login-register-container h1 {
        text-align: center;
        font-size: 4rem;
        padding: 2rem;
        box-shadow: 0 0 15px white;
        border-radius: 15px;
        margin-bottom: 50px;
    }

    .login-register-container p a {
        color: #39bad8;
        text-decoration: none;
    }


.form {
    width: 25%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
    border-radius: 10px;
    border: 1px solid #39bad8;
}

    .form span {
        margin-top: 20px;
        display: block;
    }

    .form textarea {
        border: 2px solid #ccc;
        padding: 10px;
        width: 100%;
        height: 300px;
        resize: none;
    }

.profile-image-option {
    margin-top: 30px;
}

.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #39bad8;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

    .input-field input:is(:focus, :valid) {
        border-bottom-color: #39bad8;
    }

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #39bad8;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field .fa-lock {
    font-size: 30px;
}

.input-field input:is(:focus, :valid) ~ i {
    color: #39bad8;
}


.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: #39bad8;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}


.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
    margin-bottom: 50px;
}

    .form .button input {
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 6px;
        background-color: #39bad8;
        cursor: pointer;
        transition: all 0.3s ease;
    }

.button input:hover {
    background-color: #259DB9;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.remember-me-text {
    color: #39bad8;
    left: 0;
}


@media (max-width: 900px) {
    .login {
        width: 100%;
    }
}


.profile-image-option {
    display: flex;
}

.avatar-label {
    color: white;
    background-color: #39bad8;
    margin: auto 0;
    padding: 5px;
    display: flex;
    width: 40%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

    .avatar-label:hover {
        cursor: pointer;
        background-color: #259DB9;
    }


#imageName {
    font-weight: bold;
    color: #39bad8;
}
