@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    font-family: Verdana, sans-serif !important;
    background-color: white;
    ;
}


.dropdown-menu .dropdown-item:hover {
    background-color: #AF1C70;
    color: #1976d2
}

.dropdown-item {
    font-size: 18px;
}


.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
}

.comment-text:hover {
    visibility: hidden;
}

.comment-text:hover {
    visibility: visible;
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}

.round img {
    border-radius: 100%;
}

.label-info {
    background-color: #1976d2;
}

.label-success {
    background-color: green;
}

.label-danger {
    background-color: #ef5350;
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

    .action-icons a:hover {
        color: #1976d2;
    }

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}


html {
    height: 100%;
}

.nav-item {
    font-size: 18px;
}

.danger-text {
    color: red;
}


/*--------------Index/Home -> main section---------------*/

.courses-info-container {
    box-shadow: inset 0 0 500px #dfdede;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    margin-top: 15px;
    box-shadow: 0 7px 7px #dfdede;
}

    .courses-info-container h1 {
        text-align: center;
        font-size: 4rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        padding: 2rem;
        box-shadow: 0 0 15px gray;
        border-radius: 15px;
    }

    .courses-info-container h2 {
        font-size: 2.5rem;
        padding: 3rem;
        text-align: center;
        text-shadow: 0 0 25px white;
    }

.education-images-container {
    display: flex;
}

    .education-images-container img {
        align-items: center;
        width: 12%;
        padding: 0.5rem;
        margin-bottom: 20px;
        border-radius: 50%;
    }

/*---------------------------------*/



/*--------------Index/Conact page ------------------*/
.contacts-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.flex-row {
    display: flex;
}


    .flex-row i {
        display: flex;
        margin-right: 25px;
    }

/*---------------------------------*/


/*--------------Index/About page ------------------*/
.header-content {
    display: flex;
    width: 100%;
    align-items: center;
}


.author-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

    .author-content .author-pic {
        border-radius: 50%;
        height: 20vh;
        padding: 0.5rem;
    }

.stack img {
    align-items: center;
    border-radius: 50%;
    height: 10vh;
    padding: 0.5rem;
    margin-bottom: 20px;
}

.author-name {
    text-shadow: 0 0 25px white;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: 5px;
}

.about-text h2 {
    font-size: 2.5rem;
    padding: 3rem;
    text-shadow: none;
}

/*---------------------------------*/


/*--------------Course/Details page ------------------*/

.course-image {
    width: 40%;
    border-radius: 20px;
    display: flex;
    margin-bottom: 20px;
}