/*--------------Tables---------------*/
.items-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
}

    .items-table td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        font-weight: bold;
    }

    .items-table tr {
        background-color:;
    }


        .items-table tr:nth-child(even) {
            background-color: #39bad8;
            color: white;
        }

    .items-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #259DB9;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .items-table td {
        padding: 20px;
        text-align: center;
    }

    .items-table .content-align-center {
        text-align: center;
    }

/*---------------------------------*/
