@model List<Course>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
    </li>
}

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole(AdminRole))
    {
        <li>
            <a>Курсове</a>
            <ul class="dropdown-menu-list">
                <li><a asp-area="Admin" asp-controller="Courses" asp-action="CreateCourse">Създай курс</a></li>
                <li><a asp-area="Admin" asp-controller="Courses" asp-action="AllCourses">Всички курсове</a></li>
            </ul>
        </li>
        <li>
            <a>Потребители</a>
            <ul class="dropdown-menu-list">
                <li><a asp-area="Admin" asp-controller="Users" asp-action="CreateUser">Създай потребител</a></li>
                <li><a asp-area="Admin" asp-controller="Users" asp-action="AllUsers">Всички потребители</a></li>
            </ul>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Issues" asp-action="MyIssues">Докладвани проблеми</a>
        </li>
    }
    if (User.IsInRole(LearnerRole))
    {
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Courses" asp-action="MyCourses">MyCourses</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="About">About Me</a>
        </li>
    }
}