@model IEnumerable<CommentViewModel>

<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-white">Благодаря ви за обратната връзка! Вашето мнение е важно за мен.</h1>
    <p class="col-md-8 fs-4 text-white">
        Вижте всички коментари към този урок.
    </p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Коментари за този урок</h4>
                </div>

                <div class="comment-widgets m-b-20">
                    @foreach (var commentModel in Model)
                    {
                        <div class="d-flex flex-row comment-row">
                            <div class="p-2">
                                <span class="round">
                                    <img src="~/assets/images/users/@commentModel.ProfileImageUrl" alt="user" width="50">
                                </span>
                            </div>
                            <div class="comment-text w-100">
                                <h5>@commentModel.FirstName @commentModel.LastName</h5>
                                <div class="comment-footer">
                                    <span class="date">@commentModel.CreatedOn</span>
                                </div>
                                <p class="m-b-5 m-t-10">@commentModel.Content</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>