@model CommentFormModel

<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-white">Добре дошли!</h1>
    <p class="col-md-8 fs-4 text-white">Споделете впечатлението си от урока
        като оставите вашият коментар тук</p>   
</div>


<form method="post"
      asp-controller="Comments" asp-action="CreateComment">
    <div class="container mt-5"> <!--Test-->
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="d-flex flex-column comment-section">
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info">
                            <img class="rounded-circle" src="~/assets/images/users/@Model.ProfileImageUrl" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2">
                                <span class="d-block font-weight-bold name">@Model.FirstName @Model.LastName</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start">
                            <textarea rows="15" asp-for="Content" class="form-control ml-1 shadow-none textarea"></textarea>
                        </div>
                        <span asp-validation-for="Content" class="small text-warning"></span>
                        <div class="mt-2 text-right">
                            <button asp-controller="Comments" asp-action="CreateComment" asp-route-tutorialId="@Model.TutorialId" 
                              class="btn btn-lg shadow-none text-white" style="background-color: #672079" type="submit">
                                Публикувай коментар
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>