@model UserFormModel

<div class="login-register-container">
    <div class="form login">
        <span class="title">Редактирай потребител</span>
        <form method="post" enctype="multipart/form-data">
            <div>
                <div class="input-field">
                    <input asp-for="FirstName" placeholder="Име" required>
                    <i class="fa fa-user"></i>
                </div>
                <span asp-validation-for="FirstName"></span>
            </div>
            <div>
                <div class="input-field">
                    <input asp-for="LastName" placeholder="Фамилия" required>
                    <i class="fa fa-user"></i>
                </div>
                <span asp-validation-for="LastName"></span>
            </div>
            <div>
                <div class="input-field">
                    <input asp-for="Email" placeholder="Имейл" required>
                    <i class="fa fa-envelope"></i>
                </div>
                <span asp-validation-for="Email"></span>
            </div>

            <div class="profile-image-option">

                <input id="inputBox" asp-for="ProfileImage" style="display: none;" type="file" name="file" accept="image/png, image/jpg, image/gif, image/jpeg" />
                <label id="avatar-label" for="inputBox">
                    Качи снимка
                </label>
                <span id="imageName"></span>
            </div>

            <div class="input-field button">
                <input type="submit" value="Потвърди">
            </div>
        </form>
    </div>
</div>