@model UserFormModel

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/assets//images/csharp_basics.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8" style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%">
            <div class="card-body text-white">
                <h5 class="card-title">Редактирай потребител</h5>
                <p class="card-text">В тази секция можеш да редактираш потребител.</p>
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label text-white">Име</label>
        <input asp-for="FirstName" class="form-control text-white" placeholder="" style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%">
        <span asp-validation-for="FirstName" class="small text-warning"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label text-white">Фамилия</label>
        <input asp-for="LastName" class="form-control text-white" placeholder="" style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%">
        <span asp-validation-for="LastName" class="small text-warning"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label text-white">Имейл</label>
        <input asp-for="Email" class="form-control text-white" placeholder="" style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%">
        <span asp-validation-for="Email" class="small text-warning"></span>
    </div>
   
    <div class="mb-3">
        <label asp-for="ProfileImage" class="form-label text-white">Снимка аватар</label>
        <input asp-for="ProfileImage" type="file" name="ProfileImage" class="form-control text-white" style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%">
        <span asp-validation-for="ProfileImage" class="small text-warning"></span>
    </div>

    <button type="submit" class="btn btn-success">Потвърди</button>
</form>