<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C# Learning System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/backgroundStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/siteNavbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/registerLogin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/siteFooter.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/CSharpNet_Web_System.Web.styles.css" asp-append-version="true" />
</head>
<body>

    <nav class="navbar">
        <div class="brand-title"><a asp-area="" asp-controller="Home" asp-action="Index">E-Learning System</a></div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                @await Component.InvokeAsync("HeaderMenu")

                <partial name="_LoginPartial" />
            </ul>
        </div>
    </nav>


    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <ul class="flex-row">
                <li><i class="fa fa-youtube"></i></li>
                <li><i class="fa fa-linkedin"></i></li>
                <li><i class="fa fa-github"></i></li>             
            </ul>

            <p>&copy; 2022 E-Learning System</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navigationBar.js" asp-append-version="true"></script>
    <script src="~/js/registerLogin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
