<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C# Learning System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/backgroundStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navigationBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mainSection.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CSharpNet_Web_System.Web.styles.css" asp-append-version="true" />
</head>
<body>

    <nav class="navbar">
        <div class="brand-title"><a asp-area="" asp-controller="Home" asp-action="Index">E-Learning System</a></div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                @await Component.InvokeAsync("HeaderMenu")

                <partial name="_LoginPartial" />
            </ul>
        </div>
    </nav>


    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            &copy; 2022 - E-Learning System

            <div class="footer-siteInfo">
                <a>About Us</a>
                <a>Contact</a>
                <a>Courses</a>
                <a>YouTube</a>
            </div>
            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navigationBar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
