@using Microsoft.AspNetCore.Identity
@using CSharpNet_Web_System.Models.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            Здравей @User.Identity?.Name!
            <img style="border-radius: 50%" src="~/assets/images/users/@User.FindFirst("ProfileImageUrl")?.Value" width="30" height="30" />
        </a>
    </li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button class="logout-btn" type="submit">Изход</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
