@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-warning">Грешка.</h1>
<h2 class="text-warning">Възникна грешка при обработването на вашата заявка.</h2>
<h2 class="text-warning">Статус код на грешката: @Model.HttpStatusCode</h2>

@if (Model.ShowRequestId)
{
    <p class="text-warning">
        <strong>ID на заявката:</strong> <code class="text-warning">@Model.RequestId</code>
    </p>
}

