<header>
    <h1>
        More information about me...
    </h1>

    <div class="header-content">  
        <div class="author-content">
            <img class="author-pic" src="/assets//images/zako4.jpg" alt="zako">
            <h4 class="author-name">Velizar Gerasimov</h4>
            <div class="stack">
                <img src="/assets//images/csharp.png" alt="zako">
                <img src="/assets//images/NET.png" alt="zako">
            </div>
        </div>
    </div>

    <div class="about-text">
        <h2>
            My name is Velizar Gerasimov and at the moment I am a software engineer at Komax Bulgaria.
            I have an experience with real programming on many different projects in the past 4-5 years. I have a bachelor and master degree in the field of
            computer systems and technologies from Ruse University "Angel Kanchev". My experience is mostly with .NET platform, C# programming language,
            MS SQL Server, Entity Framework Core, Dapper, COM objects and Desktop applications. The idea for creation of this website came suddenly. 
            My big goal and my dream is to help another people to learn programming and to be a good and quality software engineers. My brother helped me a lot 
            for making of this website. His name is Mario Gerasimov and he is a Senior Android Developer in Software Group company.
        </h2>

    </div>

</header>
