<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-white">Тук можете да научите повече за мен.</h1>
    <img style="border-radius: 50%; float: right" src="~/assets/images/me.png" width="250" height="250" />
    <br>
    <br>
    <p class="col-md-8 fs-4 text-white">
        Казвам се Велизар Герасимов (Зако) и работя като програмист от вече 4 години в ТСК Тест Системс България.
        Завършил съм бакалавър и магистър в Русенския университет "Ангел Кънчев" със специалност Компютърни системи и
        технологии. Също преминах през програмата за софтуерен инженер на СофтУни с езика C#.
        Идеята ми с направата на този уебсайт е да дам възможност на повече хора да се докоснат до програмирането и до
        eзика C# в частност. Искам да предам знанията, които съм натрупал за тези 4 години, на възможно по-голям набор от
        хора, защото искам да помагам, така както на мен ми беше помагано. Сайтът е разработен на български, защото искам да
        дам възможност и на хора, които не могат все още да се справят с английския език. Разбира се трябва да се разбира/знае английския
        добре (поне на работно ниво), за да се четат официални документации и пр., но сайтът се фокусира повече върху програмирането
        като цяло, останалото ще дойде само, с повечко мотивация.
    </p>
    <p class="col-md-8 fs-4 text-white"> Започнете да програмирате сега и няма да съжалявате!</p>
    <br>
    <p class="col-md-8 fs-4 text-white"> Пожелавам ви успех и само напред! </p>
</div>