<header>
    <h1>
        Where you can find me...
    </h1>

    <h2>
        You can use my email or my LinkedIn to contact me if you want.
    </h2>

    <div class="header-content">
        <div class="author-content">
            <img class="author-pic" src="/assets//images/zako4.jpg" alt="zako">
            <h4 class="author-name">Velizar Gerasimov</h4>          
        </div>
    </div>

    <div class="contacts-container">
        <h2> Official contacts: </h2>
        <div class="flex-row"><i class="fa fa-envelope-o"></i> <h3>Email: velizar9209@gmail.com</h3></div>

        <div class="flex-row"><i class="fa fa-linkedin"></i><h3>LinkedIn: https://www.linkedin.com/in/velizar-gerasimov-16036a11a </h3></div>

        <div class="flex-row">
            <i class="fa fa-github"></i><h3>GitHub: https://github.com/velizar92 </h3>
        </div>
    </div>
</header>