<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-white">Добре дошли в C# Learning System!</h1>
    <p class="col-md-8 fs-4 text-white">
        Тук може да видите какво ще научите след като преминете през всички C# курсове.
    </p>
</div>


<table class="table text-white">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заглавие</th>
        </tr>
    </thead>
    <tbody>
        <tr><th scope="row">1</th><td>Какво е .NET?</td></tr>
        <tr><th scope="row">2</th><td>Какво е компилатор?</td></tr>
        <tr><th scope="row">3</th><td>Какво е програмна библиотека?</td></tr>
        <tr><th scope="row">4</th><td>Какво е IDE?</td></tr>
        <tr><th scope="row">5</th><td>Инсталация и работа с Visal Studio IDE?</td></tr>
        <tr><th scope="row">6</th><td>Какво е конзолата?</td></tr>
        <tr><th scope="row">7</th><td>Работа с конзолата Вход/Изход.</td></tr>
        <tr><th scope="row">8</th><td>Типове данни, променливи и константи?</td></tr>
        <tr><th scope="row">9</th><td>Конвертиране на променливи от един тип в друг: Имплицитно/Експлицитно</td></tr>   
        <tr><th scope="row">10</th><td>If/else и switch конструкции</td></tr>
        <tr><th scope="row">11</th><td>Работа с цикли</td></tr>
        <tr><th scope="row">12</th><td>Работа със структури от данни</td></tr>
        <tr><th scope="row">13</th><td>Работа с многомерни масиви</td></tr>
        <tr><th scope="row">14</th><td>Работа с файлове</td></tr>
        <tr><th scope="row">15</th><td>Обектно ориентирано програмиране (Object Oriented Programming)</td></tr>
        <tr><th scope="row">16</th><td>Наследяване (Inheritance)</td></tr>
        <tr><th scope="row">17</th><td>Полиморфизъм (Polymorphism)</td></tr>
        <tr><th scope="row">18</th><td>Абстракция (Abstraction)</td></tr>
        <tr><th scope="row">19</th><td>Енкапсулация (Encapsulation)</td></tr>
        <tr><th scope="row">20</th><td>Обработка на изключения (Exception handling)</td></tr>
        <tr><th scope="row">21</th><td>Функционално програмиране</td></tr>
    </tbody>
</table>
