@using CSharpNet_Web_System.Services.Courses.Models;
@model IEnumerable<CourseServiceModel>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-white">
        Добре дошли в света на C# и .NET

         <img src="/assets/images/mouse.png" alt="C# mouse"  width="500" height="250" style="float: right"/>
    </h1>

    <p class="col-md-8 fs-4 text-white">
        Предлагам ви няколко курса, които ще ви дадат необходимите знания, за да навлезете
        в света на езика C# и .NET екосистемата като цяло.
        Ще започнем с основите на езика и ще стигнем до използването му като по-напреднали вече.
        <br>
        Не се колебайте, започнете сега!
    </p>

   

    <button type="button" class="btn btn-lg btn-success text-white">
        <a class="text-white text-decoration-none" asp-controller="Home" asp-action="Details">
            Виж повече
        </a>
    </button>

    

</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var course in Model)
    {
        <div class="col">
            <div class="card">
                <img src="/assets//images/courses/@course.ImageUrl" class="card-img-top" width="100" height="300" alt="C# course" />
                <div class="card-body" style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%">
                    <h5 class="card-title text-white" style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%">@course.Name</h5>
                    <p class="card-text text-white">@course.Description</p>
                    <button type="button" class="btn btn-lg btn-success text-white">
                        <a class="text-white text-decoration-none" asp-controller="Courses" asp-action="Details" asp-route-courseId="@course.Id">
                            Към курса
                        </a>
                    </button>
                </div>
            </div>
        </div>
    }
</div>


