@using CSharpNet_Web_System.Services.Courses.Models;
@model IEnumerable<CourseServiceModel>

@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>
        Welcome in our E-Learning System!
    </h1>

    <h2>
        Here you will find many useful courses about C# and .NET.
        Don't be afraid, start now!
    </h2>


    <div class="author-content">
        <img class="author-pic" src="/assets//images/zako4.jpg" alt="zako">
        <h4 class="author-name">Velizar Gerasimov</h4>
        <div class="stack">
            <img src="/assets//images/csharp.png" alt="zako">
        </div>

        <button class="moreinfo-button" type="button">
            <a asp-controller="Home" asp-action="Details">
                More information
            </a>
        </button>

    </div>
</header>


<ul class="cards">
    @foreach (var course in Model)
    {
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="/assets//images/courses/@course.ImageUrl"></div>
                <div class="card_content">
                    <h2 class="card_title">@course.Name</h2>
                    <p class="card_text">@course.Description</p>
                    <button class="btn card_btn"><a asp-controller="Courses" asp-action="Details" asp-route-courseId="@course.Id">Read More</a></button>
                </div>
            </div>
        </li>
    }
</ul>

