@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Потвърдете промяната на имейла";
}

<h1 class="text-white">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
