@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение забравена парола";
}

<h1 class="text-white">@ViewData["Title"]</h1>
<p class="text-white">
    Моля проверете имейла си за нулиране на паролата.
</p>
