@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола?";
}

<h1 class="text-white">@ViewData["Title"]</h1>


<div class="login-register-container">
    <div class="form login">
        <span class="title">Въведете вашият имейл</span>
        <form method="post" enctype="multipart/form-data">
            <div>
                <div class="input-field">
                    <input asp-for="Input.Email" placeholder="Имейл">
                    <i class="fa fa-envelope"></i>
                </div>
                <span asp-validation-for="Input.Email" class="danger-text"></span>
            </div>
           
            <div class="input-field button">
                <input type="submit" value="Нулиране на парола">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
