@page
@model LoginModel

@{
    ViewData["Title"] = "Влез";
}

<div class="login-container">
    <div class="form login">
        <span class="title">Login</span>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-field">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter your email" required />             
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <div class="input-field">
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Enter your password" required />
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div class="checkbox-text">
                <div class="checkbox-content">
                    <label class="remember-me-text"asp-for="Input.RememberMe" />
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </div>
            </div>
            <div>
                <div class="input-field button">
                    <input type="submit" value="Login">
                    <button type="submit">Влез</button>
                </div>
            </div>
            <div>
                <p>
                    <a asp-page="./ForgotPassword">Забравена парола?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрирай се като нов потребител</a>
                </p>
            </div>
        </form>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
