@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрирай се";
}

<div class="login-register-container">
    <div class="form login">
        <span class="title">Register</span>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="danger-text"></div>
            <div class="input-field">
                <input asp-for="Input.FirstName" autocomplete="firstname" aria-required="true" placeholder="First name" required />
                <i class="fa fa-user"></i>
            </div>
            <span asp-validation-for="Input.FirstName" class="danger-text"></span>

            <div class="input-field">
                <input asp-for="Input.LastName" autocomplete="lastname" aria-required="true" placeholder="Last name" required />
                <i class="fa fa-user"></i>
            </div>
            <span asp-validation-for="Input.LastName" class="danger-text"></span>

            <div class="input-field">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" required />
                <i class="fa fa-envelope"></i>
            </div>
            <span asp-validation-for="Input.Email" class="danger-text"></span>

            <div class="input-field">
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password" required />
                <i class="fa fa-lock"></i>
            </div>
            <span asp-validation-for="Input.Password" class="danger-text"></span>

            <div class="input-field">
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Repeat Password" required />
                <i class="fa fa-lock"></i>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="danger-text"></span>

            <div class="profile-image-option">

                <input id="inputBox" asp-for="Input.ProfileImageUrl" style="display: none;" type="file" name="file" accept="image/png, image/jpg, image/gif, image/jpeg" />
                <label class="avatar-label" for="inputBox">
                    Upload Avatar    
                </label>
                <span id="imageName"></span> 
            </div>

            <div class="input-field button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
