@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение за сменена парола";
}

<h1 class="text-white">@ViewData["Title"]</h1>
<p class="text-white">
    Паролата ви беше променена. Моля <a asp-page="./Login">кликнете тук за влизане</a>.
</p>
