@page
@model IndexModel
@{
    ViewData["Title"] = "Профил";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="login-register-container">
    <div class="form login">
        <span class="title"> Промени акаунт опциите си</span>
        <form method="post" enctype="multipart/form-data">
            <div>
                <div class="input-field">
                    <input asp-for="Username" placeholder="Име">
                </div>
                <span asp-validation-for="Username"></span>
            </div>
            <div>
                <div class="input-field">
                    <input asp-for="Input.Name" placeholder="Име">
                </div>
                <span asp-validation-for="Input.Name"></span>
            </div>
            <div>
                <div class="input-field">
                    <input asp-for="Input.LastName" placeholder="Фамилия">
                </div>
                <span asp-validation-for="Input.LastName"></span>
            </div>

            <div class="input-field button">
                <input type="submit" value="Потвърди">
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
