@model TutorialFormModel

<div class="form-container-container">
    <div class="form login">
        <span class="title">Създай урок</span>
        <form method="post" enctype="multipart/form-data">
            <div>
                <div class="input-field">
                    <input asp-for="Title" placeholder="Име">
                    <i class="fa fa-book"></i>
                </div>
                <span asp-validation-for="Title" class="danger-text"></span>
            </div>
            <div>
                <div>
                    <textarea asp-for="Description" placeholder="Описание"></textarea>
                </div>
                <span asp-validation-for="Description" class="danger-text"></span>
            </div>
            <div>
                <div class="input-field">
                    <input asp-for="InternetUrl" placeholder="Интернет адрес">
                    <i class='fa fa-internet-explorer'></i>
                </div>
                <span asp-validation-for="InternetUrl" class="danger-text"></span>
            </div>

            <div class="profile-image-option">

                <input id="inputBox" asp-for="Files" style="display: none;" type="file" name="Files" />
                <label class="avatar-label" for="inputBox">
                    Качи ресурси
                </label>
                <span asp-validation-for="Files" id="imageName" class="danger-text"></span>
            </div>

            <div class="input-field button">
                <input type="submit" value="Потвърди">
            </div>
        </form>
    </div>
</div>