@model TutorialFormModel

<div class="card mb-3 text-white" style="background-color: rebeccapurple">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/assets//images/tutorial_creation.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Създай урок</h5>
                <p class="card-text">В тази секция можеш да създадеш урок, който да е още една стъпка към успеха на последователите ти.</p>
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Title" class="form-label text-white">Име</label>
        <input asp-for="Title" class="form-control text-white" placeholder="" style="background-color: rebeccapurple">
        <span asp-validation-for="Title" class="small text-warning"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label text-white">Описание</label>
        <textarea rows= "10" asp-for="Description" class="form-control text-white" placeholder="" style="background-color: rebeccapurple"></textarea> 
        <span asp-validation-for="Description" class="small text-warning"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label text-white">Съдържание</label>
        <textarea rows= "20" asp-for="Content" class="form-control text-white" placeholder="" style="background-color: rebeccapurple"></textarea> 
        <span asp-validation-for="Content" class="small text-warning"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Files" class="form-label text-white">Ресурси</label>
        <input asp-for="Files" type="file" name="Files" class="form-control text-white" style="background-color: rebeccapurple" multiple>
        <span asp-validation-for="Files" class="small text-warning"></span>
    </div>

    <button type="submit" class="btn btn-primary">Потвърди</button>
</form>