@model IEnumerable<CourseServiceModel>

@{
    int lineIndex = 1;
}

<table class="items-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име на курс</th>                            
            <th scope="col">Опция</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@lineIndex</td>
                <td>@course.Name</td>                             
                <td>
                    <button class="btn-edit">
                        <a asp-area="Admin" asp-controller="Courses" asp-action="EditCourse" asp-route-courseId="@course.Id">Редактирай</a>
                    </button>
                    <button class="btn-delete">
                        <a asp-area="Admin" asp-controller="Courses" asp-action="DeleteCourse" asp-route-courseId="@course.Id">Изтрий</a>

                    </button>
                </td>
            </tr>

            lineIndex++;
        }

    </tbody>
</table>
