@using CSharpNet_Web_System.Web.Areas.Admin.Models.Course
@model CourseFormModel

<div class="form-container-container">
    <div class="form login">
        <span class="title">Създай курс</span>
        <form method="post" enctype="multipart/form-data">
            <div>
                <div class="input-field">
                    <input asp-for="Name" placeholder="Име">
                    <i class="fa fa-book"></i>
                </div>
                <span asp-validation-for="Name" class="danger-text"></span>
            </div>
            <div>
                <div>
                    <textarea asp-for="Description" placeholder="Описание"></textarea>                 
                </div>
                <span asp-validation-for="Description" class="danger-text"></span>
            </div>
                  
            <div class="profile-image-option">

                <input id="inputBox" asp-for="PictureFile" style="display: none;" type="file" name="PictureFile" accept="image/png, image/jpg, image/gif, image/jpeg" />
                <label class="avatar-label" for="inputBox">
                    Качи снимка
                </label>
                <span asp-validation-for="PictureFile" id="imageName" class="danger-text"></span>
            </div>

            <div class="input-field button">
                <input type="submit" value="Потвърди">
            </div>
        </form>
    </div>
</div>
